In [3]:
import  pandas as pd
import requests

In [4]:
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"}

In [83]:
url = "https://jiji.com.et/api_web/v1/listing?slug=tablets&init_page=true&page="
page_number =1

try:
    name =[]
    price = []
    while True:
     
        response =requests.get(url+str(page_number),headers=headers)
        data =response.json()
       
        if len(data['adverts_list']['adverts'])==0:
            break
        else:
            
            for i in data["adverts_list"]["adverts"]:
                name.append (i["price_obj"]["value"])
                price.append(i["fb_view_content_data"]['content_name'])
                
                   
            page_number+=1 
    
except:
    pass

In [89]:
df = pd.DataFrame({'price':price,'name':name})

In [90]:
df

                                              price    name
0               New C Idea CM7000 Plus 256 GB Black    9500
1                         New C Idea CM5000+ 256 GB   16500
2                New Samsung Galaxy Tab A8 GB Black   27000
3    New Samsung Galaxy Tab a 8.0 (2019) 32 GB Gray   27000
4                             Honor V6 16 GB Silver    9500
..                                              ...     ...
470          New Apple iPad 10.2 (2021) 256 GB Gray   45500
471             New C Idea CM7000 Plus 256 GB Black   11500
472      New Apple iPad Pro 12.9 (2021) 128 GB Gray  125000
473              Samsung Galaxy Tab S7+ 128 GB Blue   55000
474          New Apple iPad Air (2020) 64 GB Silver   58500

[475 rows x 2 columns]

In [92]:
df.to_excel('jiji scraped data.xlsx',index=False)